#chartHolder {
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: #FFFFFF; }
  #chartHolder #headerChartDiv {
    text-align: center;
    font-family: Arial;
    padding: 20px 0 30px 0;
    font-size: 16px;
    font-weight: bold; }
  #chartHolder #noOrderMessage {
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    border: 1px dotted silver; }

#footer {
  height: 20px;
  background: #E0E0E0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

/*
Errno::ENOENT: No such file or directory - input.scss

Backtrace:
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:360:in `read'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:235:in `watch'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin.rb:107:in `method_missing'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:455:in `watch_or_update'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:318:in `process_result'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:41:in `parse'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:21:in `parse!'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'
C:/Ruby200/bin/sass:23:in `load'
C:/Ruby200/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - input.scss"; }

#chart {
  width: 70%;
  height: 500px;
  background-color: #FFFF00;
  display: inline-block; }

#legends {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top; }
  #legends #legend1, #legends #legend2, #legends #legend3 {
    padding: 5px; }
  #legends .legendDiv {
    width: 10px;
    height: 10px;
    display: inline-block; }
  #legends #legend1Div {
    background-color: #FFF4CE; }
  #legends #legend2Div {
    background-color: #FDBD5A; }
  #legends #legend3Div {
    background-color: #FD8300; }
  #legends .legendText {
    font-size: 12px;
    margin-left: 6px;
    font-family: Arial; }

#legends-tab, #legends-mobile {
  display: none; }

@media all and (max-width: 768px) and (min-width: 480px) {
  #legends {
    display: none; }

  #legends-tab {
    width: 300px;
    height: 40px;
    display: inline-block;
    vertical-align: top; }
    #legends-tab #legend1-tab, #legends-tab #legend2-tab, #legends-tab #legend3-tab {
      padding: 5px;
      display: inline-block; }
    #legends-tab .legendDiv-tab {
      width: 10px;
      height: 10px;
      display: inline-block; }
    #legends-tab #legend1Div-tab {
      background-color: #FD8300; }
    #legends-tab #legend2Div-tab {
      background-color: #FDBD5A; }
    #legends-tab #legend3Div-tab {
      background-color: #FFF4CE; }
    #legends-tab .legendText-tab {
      font-size: 12px;
      margin-left: 6px;
      font-family: Arial; } }
@media all and (max-width: 480px) {
  #legends, #legends-tab {
    display: none; }

  #legends-mobile {
    width: 300px;
    height: 40px;
    display: inline-block;
    vertical-align: top; }
    #legends-mobile #legend1-mobile, #legends-mobile #legend2-mobile, #legends-mobile #legend3-mobile {
      padding: 5px; }
    #legends-mobile .legendDiv-mobile {
      width: 10px;
      height: 10px;
      display: inline-block; }
    #legends-mobile #legend1Div-mobile {
      background-color: #FD8300; }
    #legends-mobile #legend2Div-mobile {
      background-color: #FDBD5A; }
    #legends-mobile #legend3Div-mobile {
      background-color: #FFF4CE; }
    #legends-mobile .legendText-mobile {
      font-size: 12px;
      margin-left: 6px;
      font-family: Arial; } }
